{% extends 'layouts/base.html' %}

{% block content %}
<h1>Create Food Items</h1>
<div class="mx-5">
    <form method="POST" action="">
        {% csrf_token %}
        <label for="id_name">Name</label>
        <div class="mb-3">{{form.name}}</div>
        <span class="text-error text-danger">{{form.name.errors}}</span>
        
        <label for="id_carbohydrate">carbohydrate</label>
        <div class="mb-3">{{form.carbohydrate}}</div>
        <span class="text-error text-danger">{{form.carbohydrate.errors}}</span>
        
        <label for="id_fats">fats</label>
        <div class="mb-3">{{form.fats}}</div>
        <span class="text-error text-danger">{{form.fats.errors}}</span>

        <label for="id_protein">protein</label>
        <div class="mb-3">{{form.protein}}</div>
        <span class="text-error text-danger">{{form.protein.errors}}</span>
        
        <label for="id_calorie">calorie</label>
        <div class="mb-3">{{form.calorie}}</div>
        <span class="text-error text-danger">{{form.calorie.errors}}</span>

        <label for="id_quantity">quantity</label>
        <div class="mb-3">{{form.quantity}}</div>
        <span class="text-error text-danger">{{form.quantity.errors}}</span>

        <button class="btn btn-outline-primary" type="submit">Add Food Item</button>
    </form>
</div>
{% endblock content %}