{% extends 'layouts/base.html' %}

{% block content %}

<div class="my-3">
    <h6>Calories consumed by the user - <span>{{totalCalories}}</span></h6>
</div>
<div class="my-3">
    <h6>No of items consumed by user - <span>{{cnt}}</span></h6>
</div>

<h3>Selected Food Items</h3>
<table class="table table-sm">
    <tr>
        <th>Name</th>
        <th>carbohydrate</th>
        <th>fats</th>
        <th>protein</th>
        <th>calorie</th>
    </tr>
    {% for item in selected_food_items %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.carbohydrate}}</td>
            <td>{{item.fats}}</td>
            <td>{{item.protein}}</td>
            <td>{{item.calorie}}</td>
        </tr>    

    {% endfor %}

</table>
<a class="btn btn-outline-success" href="/select-food">Select Food Item</a>

<br><br><br>

<h3>Food Items</h3>


<table class="table table-sm">
    <tr>
        <th>Name</th>
        <th>carbohydrate</th>
        <th>fats</th>
        <th>protein</th>
        <th>calorie</th>
    </tr>
    {% for item in food_items %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.carbohydrate}}</td>
            <td>{{item.fats}}</td>
            <td>{{item.protein}}</td>
            <td>{{item.calorie}}</td>
        </tr>    

    {% endfor %}

</table>

<a class="btn btn-outline-success" href="/create-food">Create Food Item</a>

{% endblock content %}